@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
b,
i {
  font-weight: normal;
  color: #6C6C6C;
}
body {
  font-size: 12px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #6C6C6C;
}
body {
  background: #EAEAEA;
}
/* 头部 */
header {
  height: 35px;
  background-color: #f5f5f5;
}
.nav {
  width: 1190px;
  height: 35px;
  line-height: 35px;
  margin: 0 auto;
}
.l-nav > li {
  float: left;
  margin-right: 7px;
}
.l-nav > lili:nth-child(1) {
  width: 67px;
  height: 35px;
  padding: 0 6px;
  position: relative;
}
.l-nav > li:nth-child(2) a {
  color: #f22e00!important;
}
.r-nav {
  float: right;
}
.r-nav > ul > li {
  float: left;
  position: relative;
}
.r-nav > ul > li:nth-child(1) {
  width: 67px;
  height: 35px;
  padding: 0 6px;
}
.r-nav > ul > li:nth-child(2),
.r-nav > ul > li:nth-child(3) {
  width: 72px;
  height: 35px;
  padding: 0 6px;
}
.r-nav > ul > li:nth-child(4) {
  line-height: normal;
  width: 67px;
  height: 14px;
  margin-top: 10px;
  border-right: 2px solid #ddd;
}
.r-nav > ul > li:nth-child(5) {
  width: 103px;
  margin-left: 10px;
}
.r-nav > ul > li:nth-child(6) {
  width: 79px;
}
.r-nav > ul > li:nth-child(7) {
  width: 84px;
  padding: 0 6px;
}
.l-nav > li:nth-child(1):hover,
.r-nav > ul > li:nth-child(1):hover,
.r-nav > ul > li:nth-child(3):hover,
.r-nav > ul > li:nth-child(5):hover,
.r-nav > ul > li:nth-child(6):hover,
.r-nav > ul > li:nth-child(7):hover {
  background: white;
  border-bottom: #f5f5f5 1px solid;
}
.r-nav > ul > li:nth-child(7):hover {
  border-bottom: none;
}
.l-nav > li:nth-child(1):hover {
  border-bottom: none;
  color: #6C6C6C;
}
.l-nav > li > a:hover {
  color: red;
}
.l-nav > li:nth-child(1):hover > b {
  color: #6C6C6C!important;
}
.r-nav > ul > li > a:hover {
  color: red;
}
.ejdh {
  width: 82px;
  height: auto;
  line-height: 28px;
  padding: 8px 0px;
  border: 1px solid #f5f5f5;
  border-top: none;
  left: -1px;
  display: none;
  background: white;
  position: absolute;
  z-index: 100;
  top: 35px;
}
.ejdh li {
  padding: 0 5px;
}
.ejdh li:hover {
  background: #f5f5f5;
}
li:hover .ejdh {
  display: block;
}
.ejdhsc {
  background: white;
  z-index: 100;
  height: auto;
  line-height: 28px;
  padding: 8px 0px;
  position: absolute;
  border: 1px solid #f5f5f5;
  border-top: none;
  left: -1px;
  display: none;
  z-index: 1000;
}
.ejdhsc li {
  padding: 0 5px;
}
.ejdhsc li:hover {
  background: #f5f5f5;
}
li:hover .ejdhsc {
  display: block;
}
span {
  font-size: 2px;
  font-size: 10px;
}
.wzdh {
  width: 1190px;
  height: 311px;
  position: absolute;
  margin: 0 auto;
  left: -1094px;
  border: #f5f5f5 1px solid;
  border-top: none;
  display: none;
  background: white;
  z-index: 1000;
}
.wzdh div {
  width: 24.9%;
  float: left;
  border-right: none;
  border-left: #f5f5f5 solid 1px;
}
.wzdh div div h2 {
  position: relative;
  left: 15px;
}
li:hover .wzdh {
  display: block;
}
.wzdh > div > ul > li {
  float: left;
}
.wzdh > div > ul > li a {
  height: 25px;
  line-height: 25px;
  display: inline-block;
  padding: 0 5px;
}
.wzdh > div:nth-child(1) > ul > li {
  width: 25%;
  position: relative;
  left: 15px;
}
.wzdh > div:nth-child(2) > ul > li,
.wzdh > div:nth-child(3) > ul > li {
  width: 30%;
  position: relative;
  left: 15px;
}
.wzdh > div:nth-child(4) > ul > li {
  width: 50%;
  position: relative;
  left: 15px;
}
.wzdh > div ul li a i {
  display: block;
  position: absolute;
  top: -5px;
  left: 20px;
  width: 9px;
  height: 14px;
  overflow: hidden;
  background: url(../imgs/T1hOy5XhNnXXXXXXXX-9-14.gif) no-repeat;
}
.wzdh > div ul li a em {
  display: block;
  position: absolute;
  top: -5px;
  left: 20px;
  width: 9px;
  height: 14px;
  overflow: hidden;
  background: url(../imgs/T1lni5XhXXXXXXXXXX-9-14.gif) no-repeat;
}
.wzdh > div:nth-child(1) ul li:hover a {
  background: #fc4200;
}
.wzdh > div:nth-child(2) ul li:hover a {
  background: #9fb838;
}
.wzdh > div:nth-child(3) ul li:hover a {
  background: #d75696;
}
.wzdh > div:nth-child(4) ul li:hover a {
  background: #2e9fdb;
}
body {
  background-color: #fff;
}
.idle-header-wrap {
  height: 90px;
  background-color: #ffda44;
}
.idle-header-wrap .idle-header {
  width: 1190px;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.idle-header-wrap .idle-header .idle-logo {
  position: absolute;
  display: block;
  width: 93px;
  height: 45px;
  top: 22.5px;
  left: 5px;
}
.idle-header-wrap .idle-header .idle-nav {
  position: absolute;
  top: 28px;
  left: 250px;
}
.idle-header-wrap .idle-header .idle-nav .idle-menu {
  float: left;
  font-size: 0;
}
.idle-header-wrap .idle-header .idle-nav .idle-menu ul {
  display: inline;
}
.idle-header-wrap .idle-header .idle-nav .idle-menu ul li {
  display: inline;
  line-height: 35px;
  padding: 8px 0;
  margin: 0 15px;
  font-size: 15px;
}
.idle-header-wrap .idle-header .idle-nav .idle-menu ul li a {
  color: #000;
  text-decoration: none;
}
.idle-header-wrap .idle-header .idle-nav .idle-manage {
  position: relative;
  line-height: 35px;
  float: left;
}
.idle-header-wrap .idle-header .idle-nav .idle-manage .idle-manage-sp {
  margin: 0 10px;
}
.idle-header-wrap .idle-header .idle-nav .idle-manage li {
  display: inline;
  line-height: 35px;
  padding: 8px 0;
  margin: 0 15px;
  font-size: 15px;
}
.idle-header-wrap .idle-header .idle-nav .idle-manage li a {
  color: #000;
  text-decoration: none;
}
.idle-header-wrap .idle-header .idle-nav .idle-manage li a i {
  font-style: normal;
  color: #000;
}
.idle-header-wrap .idle-header .idle-nav .idle-manage li a i::before {
  content: "\e772";
}
.idle-header-wrap .idle-header .idle-nav .idle-manage ul {
  display: inline;
}
.col-sub {
  width: 1190px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  border-top: 2px solid #333;
}
.col-sub .col-main {
  float: left;
  width: 100%;
  min-height: 1px;
}
.col-sub .col-main .main-wrap {
  margin-left: 750px;
}
.col-sub .col-main .main-wrap .property {
  width: 440px;
  margin-top: 18px;
  overflow: hidden;
}
.col-sub .col-main .main-wrap .property .title {
  font-size: 22px;
  line-height: 31px;
}
.col-sub .col-main .main-wrap .property .price-info {
  padding: 12px 0 5px;
  border-bottom: 1px solid #eee;
}
.col-sub .col-main .main-wrap .property .price-info li:nth-child(2) {
  font-size: 14px;
}
.col-sub .col-main .main-wrap .property .price-info li:nth-child(1) b {
  font-weight: 400;
  font-family: Arial,Verdana;
  padding-right: 2px;
  color: #999;
  font-size: 24px;
}
.col-sub .col-main .main-wrap .property .price-info li:nth-child(1) em {
  font-size: 24px;
  font-weight: 700;
  color: #f40;
  font-style: normal;
}
.col-sub .col-main .main-wrap .property .price-info li {
  line-height: 24px;
  font-size: 14px;
  padding: 0 0 8px 80px;
  position: relative;
  white-space: nowrap;
}
.col-sub .col-main .main-wrap .property .price-info li .para {
  float: left;
  width: 80px;
  font: 14px/1.5 tahoma, arial, simsun;
  margin: 0 0 0 -80px;
}
.col-sub .col-main .main-wrap .property .price-info li .bargain-tip {
  color: #fc0;
  font-size: 12px;
  line-height: 24px;
  vertical-align: text-bottom;
  display: inline-block;
  margin-left: 8px;
}
.col-sub .col-main .main-wrap .property .ljgm-btn {
  display: block;
  height: 45px;
  overflow: hidden;
  width: 202px;
  background-color: #f26a1b;
  border-radius: 3px;
  color: #fff;
  position: relative;
  top: 15px;
}
.col-sub .col-main .main-wrap .property .ljgm-btn span {
  display: inline-block;
  font-size: 22px;
  position: absolute;
  top: 7px;
  left: 48px;
}
.col-sub .col-main .main-wrap .property .guarantee_new {
  padding: 0 10px;
  border: 1px solid #e3e3e3;
  margin-top: 40px;
}
.col-sub .col-main .main-wrap .property .guarantee_new .tit {
  display: inline-block;
  width: 65px;
  height: 20px;
  vertical-align: middle;
  overflow: hidden;
  padding-left: 10px;
  background: url(../imgs/T1hq2HFdVaXXXwuFPl-64-40.png) no-repeat;
}
.col-sub .col-main .main-wrap .property .guarantee_new .desc {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
}
.col-sub .col-main .main-wrap .property .guarantee_new .dbjy {
  color: #666;
  position: relative;
  line-height: 50px;
  font-size: 0;
  padding: 10px 0 10px 66px;
  border-bottom: 1px solid #e3e3e3;
  background: url(../imgs/T1LzDEFbBcXXbTj4Tf-39-41.png) left center no-repeat;
}
.col-sub .col-main .main-wrap .property .guarantee_new .smrz {
  color: #666;
  position: relative;
  line-height: 50px;
  font-size: 0;
  padding: 10px 0 10px 66px;
  background: url(../imgs/T1erbBFXVeXXcWq6bi-54-25.png) left center no-repeat;
}
.col-sub .list-tabs {
  border-bottom: 5px solid #ffda44;
  line-height: 39px;
  height: 39px;
  background: #fff;
  border-radius: 0;
  margin-top: 20px;
}
.col-sub .list-tabs .actived {
  border-color: #ffda44;
  border-left-width: 1px;
}
.col-sub .list-tabs .actived a {
  background-color: #ffda44;
  color: #fff;
}
.col-sub .list-tabs li {
  border: 1px solid #d7d7d7;
  border-width: 1px 1px 0 0;
  float: left;
}
.col-sub .list-tabs li a {
  height: 39px;
  line-height: 39px;
  float: left;
  outline: 0 none;
  overflow: hidden;
  padding: 0 25px;
  text-decoration: none;
  color: #333;
  font: 700 16px/39px "Microsoft YaHei";
}
.col-sub .security-tip {
  margin: 20px 0;
}
.col-sub .security-tip a {
  color: #333;
  font-weight: 700;
}
.col-sub .security-tip .h {
  color: #f60;
}
.col-sub .desc-mod h2 {
  font: 700 16px/20px "Microsoft YaHei";
  background-position: 0 -119px;
  margin-bottom: 15px;
}
.col-sub .desc-mod h2 b {
  background: #fff;
  color: #000;
  padding-right: 5px;
  font-style: normal;
  font-weight: bold;
}
.col-sub .desc-mod .intro-para {
  margin: 0 0 15px;
  width: 750px;
  overflow: hidden;
}
.col-sub .desc-mod .intro-para ul {
  float: left;
  width: 350px;
  margin-right: 30px;
}
.col-sub .desc-mod .intro-para ul li {
  width: 350px;
  height: 32px;
  line-height: 32px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
}
.col-sub .desc-mod .intro-para ul li .title {
  background-color: #f5f5f5;
  width: 88px;
  border-right: 1px solid #ebebeb;
}
.col-sub .desc-mod .intro-para ul li span {
  display: inline-block;
  font-size: 14px;
  padding-left: 10px;
}
.col-sub .desc-mod .describe {
  font: 14px/26px tahoma, arial, simsun;
  color: #333;
  text-indent: 2em;
}
.col-sub .desc-mod .xy-guide {
  margin-top: 80px;
  margin-bottom: 65px;
  overflow: hidden;
  width: 665px;
  height: 283px;
}
.col-sub .desc-mod .xy-guide .xy-left {
  float: left;
}
.col-sub .desc-mod .xy-guide .xy-left .xy-guide-btn {
  font-family: 'Hiragino Sans GB', 'Microsoft Yahei', tahoma;
  background: #fc2a35;
  color: #fff;
  font-size: 20px;
  width: 281px;
  height: 41px;
  line-height: 41px;
  margin-top: 60px;
  margin-left: 4px;
  text-align: center;
  cursor: pointer;
}
.col-sub .desc-mod .xy-guide .xy-left .xy-intro {
  background: url(../imgs/TB1U9_dHFXXXXbgXXXXTonn2VXX-325-100.png);
  width: 325px;
  height: 100px;
  margin-top: 36px;
}
.col-sub .desc-mod .xy-guide .xy-right {
  float: right;
  background: url(../imgs/TB1vtu2HFXXXXa5XFXXn2UtYFXX-285-283.png);
  width: 285px;
  height: 283px;
}
.col-sub .desc-mod {
  margin-bottom: 40px;
}
.col-sub .desc-mod .first > .addon {
  background-position: 0 -131px;
}
.col-sub .desc-mod .first > .icon {
  width: 78px;
  background-position: -321px -47px;
}
.col-sub .desc-mod .first h4 {
  background-position: 0 -52px;
}
.col-sub .desc-mod .second > .icon {
  width: 61px;
  background-position: -260px -51px;
  width: 61px ;
}
.col-sub .desc-mod h4 {
  background-position: 0 -71px;
}
.col-sub .desc-mod .addon {
  background-position: 0 -155px;
}
.col-sub .desc-mod .third > .icon {
  width: 61px;
  background-position: -199px -51px;
}
.col-sub .desc-mod .third h4 {
  background-position: 0 -92px;
}
.col-sub .desc-mod .third .addon {
  background-position: 0 -178px;
}
.col-sub .desc-mod .arrow {
  float: left;
  margin: 10px 0 0 25px;
  width: 36px;
  height: 58px;
  background-position: -285px -131px;
  background-image: url(../imgs/T1BxgkXdRaXXaGa6AX-415-226.png);
}
.col-sub .desc-mod .addon {
  text-indent: -9999px;
  float: right;
  margin: 30px 0 0;
  height: 23px;
  width: 262px;
  background-image: url(../imgs/T1BxgkXdRaXXaGa6AX-415-226.png);
}
.col-sub .desc-mod p {
  width: 290px;
}
.col-sub .desc-mod h4 {
  text-indent: -9999px;
  height: 20px;
  width: 138px;
  margin-bottom: 13px;
  background-image: url(../imgs/T1BxgkXdRaXXaGa6AX-415-226.png);
}
.col-sub .desc-mod h2 {
  font: 700 16px/20px "Microsoft YaHei";
  background-position: 0 -119px;
  margin-bottom: 15px;
}
.col-sub .desc-mod h2 b {
  background: #fff;
  padding-right: 5px;
  font-style: normal;
}
.col-sub .desc-mod .title {
  text-indent: -9999px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #e1e1e1;
  height: 30px;
  margin-top: 40px;
  background-position: 150px 0;
  background: url(../imgs/T1BxgkXdRaXXaGa6AX-415-226.png) no-repeat;
  background-position-x: center;
}
.col-sub .desc-mod li {
  border-bottom: 1px dotted #e1e1e1;
  padding: 34px 0 30px 90px;
  overflow: hidden;
}
.col-sub .desc-mod li .intro {
  float: left;
}
.col-sub .desc-mod .icon {
  float: left;
  height: 64px;
  margin: 5px 0 0 -90px;
  overflow: hidden;
  background: url(../imgs/T1BxgkXdRaXXaGa6AX-415-226.png) no-repeat;
}
.idle-footer {
  background-color: #333;
  display: block;
}
.idle-footer .idle-footer-links {
  padding: 40px 0 20px;
  background-color: #333;
}
.idle-footer .idle-footer-links a {
  display: block;
  float: left;
  text-indent: -9999em;
  text-align: left;
  width: 125px;
  height: 125px;
  margin: 0 40px;
  overflow: hidden;
  background: url(../imgs/TB1W6egHVXXXXXHXXXXyZnLYXXX-740-115.png) no-repeat 0 0;
  cursor: default;
}
.idle-footer .idle-footer-links .idle-footer-links-box {
  width: 820px;
  height: 125px;
  margin: 0 auto;
}
.idle-footer .idle-footer-links .idle-footer-links-box .idle-footer-link-alipay {
  background-position: -224px 0 !important;
}
.idle-footer .idle-footer-links .idle-footer-links-box .idle-footer-link-team {
  background-position: -441px 0 !important;
}
.idle-footer .idle-footer-links .idle-footer-links-box .idle-footer-link-weibo {
  background-position: -656px 0 !important;
  cursor: pointer;
}
.footer-with-logo {
  min-height: 170px;
  width: 1190px;
  max-width: 100%;
  min-height: 125px;
  margin: 0 auto;
  position: relative;
  padding: 7px 0 9px;
  border-top: 1px solid #ddd;
}
.footer-with-logo .tb-footer-hd {
  padding-top: 7px;
  width: 1190px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.footer-with-logo .tb-footer-hd p {
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  overflow: hidden;
}
.footer-with-logo .tb-footer-hd p span {
  white-space: nowrap;
  text-decoration: none;
  margin: 0 4px;
  color: #9c9c9c;
}
.footer-with-logo .tb-footer-hd p b {
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
.footer-with-logo .footer-bd p {
  padding-bottom: 8px;
  overflow: hidden;
}
.footer-with-logo .footer-bd p span {
  margin: 0 4px;
  white-space: nowrap;
  color: #9c9c9c;
}
.footer-with-logo .footer-bd p span a {
  white-space: nowrap;
  color: #6c6c6c;
}
.footer-with-logo .footer-bd p b {
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
.footer-with-logo .footer-bd p em {
  margin-left: 30px;
  font-style: normal;
  white-space: nowrap;
  color: #9c9c9c;
}
.footer-with-logo .footer-ft a {
  margin-right: 15px;
}
.footer-with-logo .footer-ft .mod {
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../imgs/TB1z6l_LVXXXXXuXpXXJmAY6pXX-755-35.jpg);
}
.footer-with-logo .footer-ft span {
  margin: 0 4px;
  white-space: nowrap;
  color: #9c9c9c;
}
.slider {
  position: relative;
  overflow: hidden;
  margin-top: -363px;
  width: 700px;
  height: 360px;
  background: #fff;
}
.slider > div {
  position: absolute;
  width: 3000px;
}
.slider > div img {
  float: left;
}
.slider > span {
  position: absolute;
  top: 180px;
  font-size: 2em;
  font-weight: 900;
  z-index: 1;
  cursor: pointer;
}
.slider > span:last-of-type {
  right: 0;
}
